Contributed to <a href="https://www.documentcloud.org/" title="Go to DocumentCloud in new window or tab" target="_blank" class="DC-logotype-link">DocumentCloud</a> by
<% if (contributor) { %>
  <% if (contributorSearchUrl) { %><a href="<%- contributorSearchUrl %>" title="View documents contributed to DocumentCloud by <%- contributor %> in a new window or tab" target="_blank"><% } %><%- contributor %><% if (contributorSearchUrl) { %></a><% } %> of
<% } %>
<% if (organization) { %>
  <% if (organizationSearchUrl) { %><a href="<%- organizationSearchUrl %>" title="View documents contributed to DocumentCloud by <%- organization %> in a new window or tab" target="_blank"><% } %><%- organization %><% if (organizationSearchUrl) { %></a><% } %>
<% } %>
&bull;