Contributed to
<a href="https://www.documentcloud.org/" title="Go to DocumentCloud in new window or tab" target="_blank" class="DC-logotype-link">DocumentCloud</a> by
<% if (contributor) { %>
  <% if (contributorDocumentsUrl) { %><a href="<%- contributorDocumentsUrl %>" title="View documents contributed to DocumentCloud by <%- contributor %> in a new window or tab" target="_blank"><% } %><%- contributor %><% if (contributorDocumentsUrl) { %></a><% } %> of
<% } %>
<% if (organization) { %>
  <% if (organizationDocumentsUrl) { %><a href="<%- organizationDocumentsUrl %>" title="View documents contributed to DocumentCloud by <%- organization %> in a new window or tab" target="_blank"><% } %><%- organization %><% if (organizationDocumentsUrl) { %></a><% } %>
<% } %>
&bull;