body {
  margin: 0;
  padding: 1em;
  font: 300 1em/1.6em 'Gotham', 'Proxima Nova', 'Avenir Next', Helvetica, Arial, sans-serif;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.3em;
}

.main {
  margin: 0 auto;
  max-width: 960px;
}

nav,
section {
  margin-bottom: 3em;
}

nav > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: auto;
}

nav > ul > li {
  float: left;
  margin: 0;
  padding: 0;
}

nav > ul > li > a {
  display: block;
  margin: 0;
  padding: 0.5em 1em;
  border-top: 1px solid #5a76a0;
  border-bottom: 1px solid #5a76a0;
  border-right: 1px solid #5a76a0;
  color: #5a76a0;
  font-size: 0.8em;
  text-decoration: none;
}

nav > ul > li:first-child > a {
  border-left: 1px solid #5a76a0;
}

nav > ul > li > a:hover {
  background-color: #c1d7f0;
}

nav > ul > li:first-child > a {
  border-left: 1px solid #5a76a0;
}

.top {
  font-size: 0.5em;
  vertical-align: top;
}

.col {
  display: inline-block;
  vertical-align: top;
  line-height: 0;
}

.col:last-child {
  margin-right: 0;
}

.col * {
  line-height: 1.6em;
}

.col-of-3 {
  width: 31%;
  margin-right: 2%;
}

.col-of-5 {
  width: 19%;
  margin-right: 0.5%;
}

.desc {
  font-style: italic;
  margin-top: -1em;
}

.error {
  color: #f33;
}

#live_options label {
  margin-left: 1em;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 500;
}

@media (max-width: 400px) {
  .hide-from-mobile {
    display: none;
  }

  .col {
    display: block;
    width: auto;
  }
}
