//------------------------------ NOTES ------------------------------
//
// - Modernizr is prefixed with `DC-m-`
//

//------------------------------ MIXINS/VARIABLES ------------------------------

// Colors

$error:            rgb(255, 50, 50);
$dcBrandBlue:      rgb(90, 118, 160);
$dcBrandBlueLight: rgb(119, 147, 189);
$highlight:        rgba(255, 247, 153, 0.5);
$highlightLight:   rgba(255, 247, 153, 0.2);
$highlightDark:    rgba(255, 247, 153, 0.8);
$gray:             rgb(204, 204, 204);
$grayLight:        rgb(235, 235, 235);
$grayDark:         rgb(115, 115, 115);
$grayDim:          rgba(0, 0, 0, 0.55);
$grayDimmer:       rgba(0, 0, 0, 0.25);
$textColor:        #000000;

// Font weights

$fontWeightLight:    200;
$fontWeightNormal:   400;
$fontWeightSemiBold: 500;
$fontWeightBold:     700;

// Speeds

$speedFast:   100ms;
$speedNormal: 200ms;

// Minimum sizes for touch/click targets

$touchHeightMin:   44px;
$touchWidthMin:    44px;
$clickHeightMin:   38px;
$clickWidthMin:    38px;
$buttonPaddingMin: 6px;
$buttonPaddingMax: 12px;

// Mixins

@mixin menubar() {
  position: relative;
  height: $touchHeightMin;
  width: 100%;
  overflow: hidden;

  text-transform: uppercase;
  font-weight: $fontWeightBold;
  font-size: 0.9em;
  background-color: $dcBrandBlue;
  color: white;
  @include antialiased;

  .DC-m-no-touch & {
    height: $clickHeightMin;
  }

  > ul {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: $touchHeightMin;
    white-space: nowrap;

    .DC-m-no-touch & {
      height: $clickHeightMin;
    }

    .DC-embed-reduced & {
      position: relative;
      float: left;
    }

    > li {
      float: left;
    }
  }

  > ul > li > a,
  .DC-action-linklike {
    color: white;
    text-decoration: none;
    display: block;
    min-width: $touchWidthMin;
    height: $touchHeightMin;
    line-height: $touchHeightMin;
    vertical-align: middle;
    padding: 0 $buttonPaddingMax;
    text-align: center;

    &:visited {
      color: white;
    }

    .DC-m-no-touch & {
      min-width: $clickWidthMin;
      height: $clickHeightMin;
      line-height: $clickHeightMin;

      &:hover {
        background-color: $dcBrandBlueLight;
      }
    }

    .DC-embed-reduced & {
      padding: 0;
    }
  }

  // Manual adjustment of icon to align properly with text
  .DC-icon {
    position: relative;
    font-size: 1.4em;
    line-height: 0px;
    top: 2px;
  }
}

@mixin actions-left() {
  left: 0;

  > li {
    margin-right: 1px;
  }
}

@mixin actions-center() {
  left: 40%;

  .DC-embed-reduced & {
    left: 0;
  }

  > li {
    margin-right: 1px;
  }
}

@mixin actions-right() {
  right: 0;

  .DC-embed-reduced & {
    float: right;
  }

  > li {
    margin-left: 1px;
  }
}

// I can imagine this being better than just a background color
@mixin indicate-scrollbreaker() {
  background-color: $grayLight;
}

@mixin antialiased() {
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
}

@mixin appearance($appearance: none) {
  -webkit-appearance: $appearance;
     -moz-appearance: $appearance;
          appearance: $appearance;
}


//---------------------------------- STYLES ------------------------------------

.DC-embed-enhanced {
  position: relative;
  font: $fontWeightNormal 10pt/1.6em 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $textColor;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  *, *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  a {
    color: $dcBrandBlue;
  }

  a:visited {
    color: $dcBrandBlueLight;
  }

}

// Elements that default to invisible.
.DC-mode-image .DC-page-text,
.DC-mode-text .DC-note-overlay {
  display: none;
}
.DC-mode-text .DC-page-image {
  visibility: hidden;
}

.DC-meta {
  position: relative;
  min-height: 27px;
  padding-right: 120px;
  margin-bottom: 0.5em;
}

  .DC-title {
    display: inline;
    font-weight: $fontWeightNormal;
    font-size: 1.2em;
    color: black;

    .DC-page-number {
      color: $grayDark;
      @include antialiased;
    }
  }

  .DC-logomark-permalink {
    display: block;
    position: absolute;
    right: 0;
    text-indent: -10000px;
    overflow: hidden;
    background: transparent url(../images/documentcloud-logo.svg) right bottom no-repeat;
    background-size: contain;

    // Native dimensions: 582x107. Aspect ratio: 5.4392523364:1
    bottom: 5px;
    width: 109px;
    height: 20px;

    // Support: IE8-
    .DC-m-no-svg & {
      background-image: url(../images/documentcloud-logo.png);
    }

  }

.DC-credit {
  font-size: 0.9em;
  color: $grayDark;
  text-align: center;
  margin-top: 1em;
  @include antialiased;
}

.DC-page {
  position: relative;
  border: 1px solid $gray;

  .DC-embed-enhanced.DC-mode-image.open & {
    border-color: $grayDark;
  }

  .DC-m-touch .DC-mode-text {
    // Narrow scrollable areas to create scrollbreaker margins
    @include indicate-scrollbreaker;

    &:after {
      left: 12%;
      right: 12%;
    }
  }
}

.DC-page-image {
  display: block;
  width: 100%;
  height: auto;
  z-index: 0;
}

.DC-page-text {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  padding: 5%;
  z-index: 1;
  font: 400 1.2em/1.6em serif;
  background-color: white;
  overflow-x: scroll;
  overflow-y: scroll;

  &.error,
  &.fetching {
    font-family: sans-serif;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.3em;
  }

  &.error {
    color: $error;
  }

  &.fetching {
    color: $dcBrandBlue;
  }

  .DC-m-touch & {
    left: 10%;
    width: 80%;
    -webkit-overflow-scrolling: touch;
  }

}

.DC-mode-image .DC-action-mode-image,
.DC-mode-text  .DC-action-mode-text {
  background-color: $dcBrandBlueLight;
}

.DC-embed-menubar {
  @include menubar;

  > .DC-actions-mode {
    @include actions-left;
  }

  > .DC-actions-nav {
    @include actions-center;

    .DC-action-text
    {
      display: none;
    }
  }

  > .DC-actions-meta {
    @include actions-right;

    .DC-action-text {
      display: none;
    }
  }
}


// Page navigator

.DC-action-nav-prev,
.DC-action-nav-next {
  padding-left: $buttonPaddingMin !important;
  padding-right: $buttonPaddingMin !important;

  &[disabled] {
    opacity: 0.2;
    cursor: default;

    .DC-m-no-touch &:hover {
      background-color: inherit;
    }
  }
}

.DC-action-nav-select {
  background-color: transparent;
  display: block;
  height: $touchHeightMin;
  line-height: $touchHeightMin;
  vertical-align: middle;
  padding: 0 $buttonPaddingMin;
  border: 0;
  border-radius: 0;
  text-transform: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  @include antialiased;
  @include appearance;

  &::-ms-expand {
    display: none;
  }

  .DC-m-no-touch & {
    height: $clickHeightMin;
    line-height: $clickHeightMin;

    &:hover {
      background-color: $dcBrandBlueLight;
    }
  }

}


// Notes

.DC-note-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;

  .DC-embed-enhanced.open & {
    background-color: $grayDim;

    .DC-m-no-touch & {
      cursor: pointer;
    }
  }
}

.DC-note {
  position: absolute;
  z-index: 1;
  overflow: visible;

  &.open {
    z-index: 1000;
  }

}

.DC-note-region {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $highlight;
  z-index: 1;

  .DC-m-no-touch & {
    cursor: pointer;

    &:hover {
      box-shadow: 0 1px 3px $grayDimmer;
    }
  }

  .DC-m-no-touch .DC-note.open & {
    box-shadow: 0 1px 3px $grayDimmer;
  }

  .DC-embed-enhanced.open .DC-note:not(.open) & {
    background-color: $highlightLight;
  }

  .DC-note.open & {
    background-color: transparent;
  }
}

.DC-note-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.DC-note-image {
  position: absolute;
  height: auto;
  display: none;

  .DC-note.open & {
    display: block;
  }
}

.DC-note-body {
  position: absolute;
  overflow: hidden;
  cursor: default;
  opacity: 0;

  max-height: 0;
  min-width: 200px;
  width: 100%;
  max-width: 400px;

  .DC-note.open & {
    max-height: 200px;
    opacity: 1;
  }
}

.DC-note-content {
  max-height: 156px; // `.DC-note-body:max-height` - `menubar:height`
  position: relative;
  width: 100%;
  background-color: $grayLight;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 1em 1em 1em;
}

.DC-note-menubar {
  @include menubar;

  box-shadow: 0 -1px 4px $grayDimmer;

  > .DC-actions-meta {
    @include actions-right;

    .DC-action-text
    {
      display: none;
    }
  }

}

.DC-note-title {

  font-weight: $fontWeightBold;
  text-transform: uppercase;
  font-size: 0.9em;
  margin: 1.1em 0 0 0;

  > a {
    color: $textColor !important;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &:empty {
    margin-top: 0;
  }

}

.DC-note-text {
  margin: 1em 0 0 0;
  &:empty {
    margin-top: 0;
  }
}


// Below 200px

.DC-embed-linkonly {
  font-size: 8pt;

  .DC-credit,
  .DC-logomark-permalink,
  .DC-embed-menubar,
  .DC-note-overlay,
  .DC-page-text
  {
    display: none;
  }

  .DC-m-no-touch & {
    .DC-page {
      cursor: pointer;
    }
  }

  .DC-meta {
    padding-right: 0;
  }

}

// Below 300px

.DC-embed-reduced {
  font-size: 9pt;

  .DC-logomark-permalink,
  .DC-action-nav-pagecount,
  .DC-action-text
  {
    display: none;
  }

  .DC-meta {
    padding-right: 0;
  }

}
