<div class="DC-note-region">
  <img class="DC-note-image" />
  <div class="DC-note-handle"></div>
</div>
<div class="DC-note-body">
  <p class="DC-note-title"><%= title %></p>
  <p class="DC-note-text"><%= text %></p>
  <div class="DC-note-foldup">^^^ stand-in chevrons ^^^</div>
</div>
