<div class="DC-note-region" style="width: <%= coordinates.width + 10  %>px; height: <%= coordinates.height%>px; top: <%= coordinates.top %>px; left: <%= coordinates.left %>px;">
  <div class="DC-note-expander"></div>
</div>
<div class="DC-note-details">
  
</div>